{% extends 'base.html' %}

{% block title %}| Dashboard{% endblock %} 

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
  <h1>Predictions</h1>

  <section id="predictions" class="py-4">
    <div class="container">

      {% if predictions %}
        <table>
          <thead>
            <tr class="row">
              <td class="row-element">Date of prediction:</td>
              <td class="row-element">Property address:</td>
              <td class="row-element">Price prediction:</td>
              <td class="row-element">Actual sales price:</td>
              <td class="row-element">Prediction accuracy:</td>
            </tr>
          </thead>
          
        {% for prediction in predictions %}
          <tbody>
            <tr class="row">
              <td class="row-element">{{prediction.prediction_date}}</td>
              <td class="row-element">{{prediction.property_adresse}}</td>
              <td class="row-element">{{prediction.price_prediction}}</td>
              <td class="row-element">
                {% if prediction.actual_price %}
                  {{prediction.actual_price}}
                {% else %}
                  -
                {% endif %}
              </td>
              <td class="row-element">
                {% if prediction.actual_price %}
                  {{prediction.actual_price}} %
                {% else %}
                  -
                {% endif %}
              </td>
            </tr>
          </tbody>
        {% endfor %}
        </table>
      {% else %}

          <p>No predictions made.</p>

      {% endif %}
      
    </div>
  </section>

{% endblock %}
