{% extends 'base.html' %}

{% load humanize %}

{% block content %}
    <br>
    <br>
    <h1>Display</h1>
    <br>
    <br>
    <div class="in-game-styles">
        <div class="omrade">
            <ul>
                <li>{{property.area1}}</li>
                <li>{{property.area2}}</li>
            </ul>
        </div>
        <div class="adress">
            <h4><a href="{{property.url}}" target="_blank">{{property.address}}</a></h4>
        </div>

        <!-- GOOGLE MAPS JAVASCRIPT -->
        <script>
            // Initialize and add the map
            function initMap() {
                // The location of Uluru
                var uluru = { lat: -25.344, lng: 131.036 };
                // The map, centered at Uluru
                var map = new google.maps.Map(
                    document.getElementById('map'), { zoom: 8, center: uluru });
                // The marker, positioned at Uluru
                var marker = new google.maps.Marker({ position: uluru, map: map });
            }
        </script>

        <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ mapstring }}&zoom=14&size=1200x500&maptype=roadmap
&markers=color:red%7Clabel:!%7C{{ mapstring }}&format=png32&style=feature:poi.park%7Ccolor:0xffffff&key=AIzaSyAXL5drWwozDAbruVkvnTpNgMCjgEpTtss" alt="Static API Map">

        <div class="in-game-price">
            <h5>Prisantydning</h4>
            <h4>{{property.price | floatformat | intcomma}} kr</h3>
        </div>
        <div class="prop-info">
            <div class="info-col-1">
                <ul>
                    <li>Boligtype: {{property.boligtype}}</li>
                    <li>Eieform: {{property.eierform}}</li>
                    <li>Primærrom: {{property.m2 | floatformat}} m²</li>
                </ul>
            </div>
            <div class="info-col-2">
                <ul>
                    <li>Soverom: {{property.soverom | floatformat}} m²</li>
                    <li>Fellesutgifter: {{property.fellesutgifter | floatformat}}</li>
                    <li>Totalpris: {{property.totalpris | floatformat}}</li>
                </ul>
            </div>
        </div>
        <form action="{% url 'prediction' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="property_id" value="{{property.id}}">
            <input type="hidden" name="property_adresse" value="{{property.address}}">
            <input type="hidden" name="area1" value="{{property.area1}">
            <input type="hidden" name="area2" value="{{property.area2}}">
            {% if user.is_authenticated %}
                <input type="hidden" name="user_id" value="{{user.id}}">
                <input type="hidden" name="user_username" value="{{user.username}}">
            {% else %}
                <input type="hidden" name="user_id" value="0">
                <input type="hidden" name="user_username" value="Unknown">
            {% endif %}
            <div class="quantity buttons_added">
                <input type="button" value="-" class="minus"><input type="number" step="10000" min="0" max="" name="price_prediction" value="{{ property.price  | floatformat }}"
                    title="Qty" class="input-text qty text" size="1" pattern="" inputmode=""><input type="button" value="+"
                    class="plus">
            </div>

            <!-- Option for choosing next area from this place: -->

            <label for="County"><b>Select area for next prediction</b></label>
            <select name="area1">
                <option value="Oslo">Oslo</option>
            </select>
            
            <label for="area"><b>Select local area</b></label>
            <select name="area2">
                <!-- <option value="Random"><b>Random</b></option> -->
                <option value="Bygdøy - Frogner">Bygdøy - Frogner</option>
                <option value="St.Hanshaugen - Ullevål"><b>St.Hanshaugen - Ullevål</b></option>
                <option value="Sagene - Torshov"><b>Sagene - Torshov</b></option>
            </select>
            <br>
            <div class="predict-button">
                <button type="submit" value="Send" class="btn btn-primary">Submit prediction and show a new one</button>
            </div>
            <br>

        </form>
    </div>
    {% include 'partials/_alerts.html' %}
{% endblock %}