{% extends 'base.html' %}

{% load humanize %}

{% block content %}
    <h1>Display</h1>
    <div class="in-game-styles">
        <div class="adress">
            <h4><a href="{{property.finnlink}}" target="_blank">{{property.adresse}}</a></h4>
        </div>
        <div class="in-game-picture">
            <img src="/images/Colletts_gate_6.png" alt="in-game-pic">
        </div>
        <div class="in-game-price">
            <h5>Prisantydning</h4>
            <h4>{{property.prisantydning}} kr</h3>
        </div>
        <div class="prop-info">
            <div class="info-col-1">
                <ul>
                    <li>Boligtype: {{property.boligtype}}</li>
                    <li>Eieform: {{property.eierform}}</li>
                    <li>Primærrom: {{property.primarareal}} m²</li>
                </ul>
            </div>
            <div class="info-col-2">
                <ul>
                    <li>Bruksareal: {{property.bruksareal}} m²</li>
                    <li>Etasje: {{property.etasje}}</li>
                    <li>Byggeår: {{property.byggear}}</li>
                </ul>
            </div>
        </div>
        <!-- <form action="action_page.php"> -->
            <div class="quantity buttons_added">
                <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1"
                    title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+"
                    class="plus">
            </div>
        <!-- </form> -->
    </div>
{% endblock %}