{% extends 'base.html' %}

{% block content %}
<h1>Start game</h1>

<div class="start-game">
    <div class="game-options">
        <form action="{% url 'choose_area' %}" style="border:1px solid #ccc">
            {% csrf_token %}
            <h3>Choose area or go random</h3>

            <label for="country"><b>Select country</b></label>
            <select>
                <option value="Norway">Norway</option>
            </select>

            <label for="County"><b>Select County</b></label>
            <select name="omrade1">
                <option value="Oslo">Oslo</option>
            </select>

            <label for="area"><b>Select local area</b></label>
            <select name="omrade2">
                <option value="Random"><b>Random</b></option>
                <option value="Bygdøy - Frogner">Bygdøy - Frogner</option>
                <option value="St.Hanshaugen - Ullevål"><b>St.Hanshaugen - Ullevål</b></option>
                <option value="Sagene - Torshov"><b>Sagene - Torshov</b></option>
            </select>

            <button type="submit" class="start-button">Start game</button>

        </form>
    </div>
    <div class="map">

    </div>
</div>


{% endblock %}